body {
    background-color: white;
    min-width: 357px;
    overflow-x: hidden;
}

#header, #footer {
    height: 15px;
    background-color: #1ABC9C;
}

div.blank {
    height: 20px;
}

span.space {
    display: inline-block;
    width: 10px;
}

#recomm-words p {
    line-height: 49px;
}

.hline {
    width: 70%;
    height: 30px;
    background-image: url(../images/hline-slice.png);
    background-repeat: repeat-x;
}

div[id|=moods] {
    min-height: 56px;
    text-align: right;
    margin-right: 10px;
}

div.expl-recomm {
    text-align: left;
    margin-left: 30px;
}

div.expl-recomm span {
    font-size: x-large;
}

div.lookup-popup-contain {
    float: left;
    padding: 20px 0 0 630px;
    width: 700px;
}

div.lookup-popup-main {
    position: fixed;
    top: 64px;
    bottom: 64px;
    width: 400px;
    background-color: gray;
}

