body {
    background-color: white;
    min-width: 357px;
    overflow-x: hidden;
}

#header {
    height: 50px;
    background-color: #1ABC9C;
    -webkit-border-top-left-radius: 25px;
    -webkit-border-top-right-radius: 25px;
}

div.blank {
    height: 20px;
}

span.space {
    display: inline-block;
    width: 10px;
}

#recomm-words p {
    line-height: 49px;
}

.hline {
    width: 70%;
    height: 30px;
    background-image: url(../images/hline-slice.png);
    background-repeat: repeat-x;
}

div[id|=moods] {
    min-height: 56px;
    text-align: right;
    margin-right: 10px;
}

div.expl-recomm {
    text-align: left;
    margin-left: 30px;
}

div.expl-recomm span {
    font-size: x-large;
}

div.lookup-popup-contain-main {
    float: left;
    padding: 20px 0 0 630px;
    width: 700px;
}

div.lookup-popup-contain-triangle {
    float: left;
    padding: 20px 0 0 600px;
    width: 700px;
}

div.lookup-popup-main {
    position: fixed;
    top: 64px;
    bottom: 64px;
    width: 400px;
    background-color: LightGray;
    border-radius: 25px;
}

div.lookup-popup-triangle {
    position: fixed;
    top: 300px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    border-right: 30px solid LightGray;
}

.lookup-nav {
    padding: 10px 20px 0 0;
    font-size: 26px;
    float: right;
}

.lookup-nav a {
    color: #0e6c59;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

a:hover {
    color: white;
    text-decoration: none;
}

span.lookup-heading {
    display: block;
    padding: 20px 20px 10px;
    font-size: 30px;
}

.lookup-recomm {
    padding: 0 20px;
    line-height: 60px;
}

