body {
    background-color: white;
    min-width: 357px;
    overflow-x: hidden;
}

#header, #footer {
    height: 15px;
    background-color: #1ABC9C;
}

div.blank {
    height: 20px;
}

#recomm-words p {
    line-height: 49px;
}

.hline {
    width: 70%;
    height: 30px;
    background-image: url(../images/hline-slice.png);
    background-repeat: repeat-x;
}

